
body {
    background: linear-gradient(120deg,  #a1c4fd 100%, #f0f4f8 0%,);
    min-height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;      /* Ajoute cette ligne */
    justify-content: center;
    align-items: center;     
}

#container {
    background: #a1c4fd;
    padding: 32px 24px;
    border-radius: 16px;
    box-shadow: 0 4px 24px #00008b;
    min-width: 350px;
    max-width: 500px;
    width: 500%;
    border-radius: 10px;
    border: 10px solid #a1c4a1;
}

footer {
    text-align: center;
    margin-top: 024px;
    color: #555;
    font-size: 0,90em;
}
#tasks > li{
    margin-left: 50px;
}
.body {
  font-family: 'Poppins', sans-serif;
  background-color: #001f3f; /* Arrière-plan bleu foncé */
  color: #fff; /* Texte blanc pour contraste */
  line-height: 1.6;
}

.checked {
    text-decoration: line-through;
    color: rgb(117, 115, 115); /* Couleur grise pour les tâches terminées */
}
